@model IList<UserMDS.Models.UserMaintenanceMasterDataModel>
 
@*<form method="post" enctype="multipart/form-data" asp-controller="UserMDS" asp-action="Index">

    <div class="form-group">
        <div class="col-md-10">
            <p>Upload a file</p>
            <input class="form-control" type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-success" type="submit" value="Upload" />
        </div>
    </div>
     
</form>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">
        Upload the file with the items to start the RFP Creation.<a target="_blank" href="../../Templates/UKGTemplate.xlsx">Download Template</a>
    </p>
</div>*@

<form method="post" enctype="multipart/form-data" asp-controller="UserMDS" asp-action="Index" >

<table  class="table">
    <thead>
        <tr>
            <th>
               Master Data Source
            </th>
            <th>
                 Upload File
            </th>
            <th>
               Download Template
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model ) {  
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Data_Src_Name)
                </td>
                <td>
                <input class="form-control" type="file" name="files" multiple />

                        <input class="btn btn-success" type="submit" value="Upload"   />
            </td>
                <td>
                        <a target="_blank" href="../templates/@Html.DisplayFor(modelItem => item.Excel_Name)">@Html.DisplayFor(modelItem => item.Data_Src_Name) Template</a>
                </td>
                <td>
                        <a class="btn btn-info" href="/GridData?Table_Name=@item.Table_Name">View</a>
                </td>
                
            </tr>
        }
    </tbody>
</table> 
</form>
 


              <script>
    function displayAlert() {
        
        alert('File uploaded successfully!');
    }
              </script>

 
