@model IList<UserMDS.Models.UserMaintenanceMasterDataModel>
 


<form method="post" enctype="multipart/form-data" asp-controller="UserMDS" asp-action="Index"  >

<table  class="table DashBoard">
    <thead>
        <tr>
            <th>
                S.No
            </th>
            <th>
               Master Data Source
            </th>
            <th>
                 Upload File
            </th>
            <th>
               Download Template
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{

            int counter = 1; 
      @foreach (var item in Model ) {  
            <tr>
                <td>
                   @counter 
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Data_Src_Name)
                </td>
                <td>
                            <input class="form-control" type="file" name="files"  multiple />

                        <input class="btn btn-success" type="submit" value="Upload"    />
            </td>
                <td>
                        <a target="_blank" href="../templates/@Html.DisplayFor(modelItem => item.Template_Name)">@Html.DisplayFor(modelItem => item.Data_Src_Name) Template</a>
                </td>
                <td>
                        <a class="btn btn-info" href="/GridData?Table_Name=@item.Table_Name">View</a>
                </td>
                
            </tr>
                    counter++;
        }
                // Increment the counter variable after each iteration
            }
    </tbody>
</table> 
</form>
 

<script type="text/javascript">
    $(document).ready(function () {

        let table = new DataTable('.DashBoard', {
            dom: 'Bfrtip',
            buttons: [

                'excelHtml5'


            ]
        });


    });

</script>

<script>
    @if (ViewData["ExceptionMessage"] != null)
    {
        var exceptionMessage = ViewData["ExceptionMessage"].ToString();
        @:alert("@exceptionMessage");
    }
    
</script>
 

<script>
    @if (ViewData["Success"] != null)
    {
        var successMess = ViewData["Success"].ToString();
        @:alert("@successMess");
    }

</script>
 
