 

 
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @if (ViewData["parameterValue"] !=null)
            {
                var dataSource = ViewData["parameterValue"].ToString();
                if(dataSource=="UKG_Production_Centers")
                {
                    
                @await Html.PartialAsync("_UKGDataGrid")
                ;
            }
            else
            {
                @await Html.PartialAsync("_CompanyEmployeeDataGrid")
                ;
            }
            
                
            }

        </div>
    </div>

