@using UserMDS.Models
@model IList<UKGProdCenterModel>


@if (Model != null)
{
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @if (Model != null)
            {
                @await Html.PartialAsync("_UKGDataGrid", Model)
            }

        </div>
    </div>

}